---
import Layout from "../layouts/Layout.astro";

import Counter from "../components/votes";
import { getOptionsForVote } from "../data/getRandom";

const options = getOptionsForVote();
---

<Layout title="Round But Faster">
  <div
    class="h-screen w-screen flex flex-col justify-between items-center relative"
  >
    <div class="text-2xl text-center pt-8">Which Pokémon is Rounder?</div>

    <Counter client:visible a={options[0]} b={options[1]}>
      <h1>Hello, Preact!</h1>
    </Counter>

    <div class="w-full text-xl text-center pb-2">
      <a href="https://twitter.com/t3dotgg">Twitter</a>
      <span class="p-4">{"-"}</span>
      <a href="/results"> Results</a>
      <span class="p-4">{"-"}</span>
      <a href="/about"> About</a>
    </div>
  </div>
</Layout>
