---
import Layout from "../layouts/Layout.astro";

import { getOptionsForVote } from "../data/getRandom";
---

<Layout title="Round But Faster">
  <div
    class="h-screen w-screen flex flex-col justify-between items-center relative"
  >
    <div class="text-2xl text-center pt-8">TODO: Results page</div>
  </div>
</Layout>
