---
export interface Props {
  title: string;
  headerTitle: string;
}

const { title, headerTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon shit -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title}</title>
    <meta
      name="description"
      content="Remake of roundest.t3.gg to see how fast it can be"
    />
  </head>
  <body class="h-full flex flex-col justify-between items-center">
    <header>
      <div class="text-2xl text-center pt-8">{headerTitle}</div>
    </header>
    <slot />
    <footer class="w-full text-xl text-center footer p-10">
      <a href="https://twitter.com/t3dotgg">Twitter</a>
      <a href="/results"> Results</a>
      <a href="/about"> About</a>
      <a href="/"> Home</a>
    </footer>
  </body>
</html>
<style>
  html {
    @apply h-full;
  }
  body {
    @apply bg-gray-800 text-gray-100 mx-2;
  }

  .footer {
    @apply gap-y-10 gap-x-4;
  }
  .footer *:not(:last-child) {
    @apply after:content-['-'] after:mx-2;
  }

</style>
