---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon shit -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title}</title>
    <meta
      name="description"
      content="Remake of roundest.t3.gg to see how fast it can be"
    />
  </head>
  <body>
    <slot />
    <style>
      body {
        @apply bg-gray-800 text-gray-100;
      }
    </style>
    <div class="w-full text-xl text-center pb-2 fixed left-0 bottom-0">
      <a href="https://twitter.com/t3dotgg">Twitter</a>
      <span class="p-4">{"-"}</span>
      <a href="/results"> Results</a>
      <span class="p-4">{"-"}</span>
      <a href="/about"> About</a>
      <span class="p-4">{"-"}</span>
      <a href="/"> Home</a>
    </div>
  </body>
</html>
